Ints vs floats
Strings
Printing
Lists
    Creating, mutating, splice notation
Dictionaries
Tuple
    immutable list
Set
    collection of unique elements
Logical Statements

Part 3
For, While loops
    range
List comprehension    
    simplify code into one line ie for loop operations
Functions
    start with lowercase letters
    default values for variables
    docstring use multiline comment
    shift-tab for jupyter notebook
    
Part 4
Lambda

In [1]:
lambda var: var*2

In [2]:
#map()

In [3]:
seq=[1,2,3,4,5]
list(map(lambda num: num*3, seq))

[3, 6, 9, 12, 15]

In [4]:
list(filter(lambda num: num%2 ==0, seq))

[2, 4]

In [7]:
s = "Hello"

In [8]:
s.lower()

'hello'

In [9]:
tweet = 'Go Sports! #Sports'

In [11]:
tweet.split('#')[1]

'Sports'

In [12]:
d = {'k1': 1, 'k2':2}

In [13]:
d.keys()

dict_keys(['k1', 'k2'])

In [14]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [15]:
d.values()

dict_values([1, 2])

In [16]:
lst = [1,2,3]

In [17]:
lst.pop()

3

In [18]:
lst

[1, 2]

In [19]:
'x' in [1,2,3]

False

In [20]:
x = [(1,2),(3,4),(5,6)]

In [ ]:
#Tuple unpacking

In [21]:
for (a,b) in x:
    print (b)

2
4
6